{% load static %}
<footer class="gap no-bottom" style="background-color: #363636;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="footer-description">
                    <a href="index-2.html">
                    {% include 'partials/logo.html' %}
                    </a>
                    <h2>The Best Restaurants in Your  Home</h2>
                    <p>Vitae congue mauris rhoncus aenean. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Tempus egestas sed sed risus pretium quam.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="menu">
                    <h4>Menu</h4>
                    <ul class="footer-menu">
                        <li><a href="index-2.html">home<i class="fa-solid fa-arrow-right"></i></a></li>
                        <li><a href="about.html">about us<i class="fa-solid fa-arrow-right"></i></a></li>
                        <li><a href="contacts.html">Contacts<i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="menu contacts">
                    <h4>Contacts</h4>
                    <div class="footer-location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>1717 Harrison St, San Francisco, CA 94103, United States</p>
                    </div>
                    <a href="mailto:quickeat@mail.net"><i class="fa-solid fa-envelope"></i>quickeat@mail.net</a>
                    <a href="callto:+14253261627"><i class="fa-solid fa-phone"></i>+1 425 326 16 27</a>
                </div>
                <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
            </div>
        </div>
        <div class="footer-two gap no-bottom">
            <p>Copyright © 2022. Quickeat. All rights reserved.</p>
            <div class="privacy">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Services</a>
            </div>
        </div>
    </div>
</footer>