{% load static %}
<footer class="gap no-bottom" style="background-color: #363636;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="footer-description">
                    <a href="{% url 'app:home' %}">
                    {% include 'partials/logo.html' %}
                    </a>
                    <h2>Quality Cooking Gas Delivery to Your Doorstep</h2>
                    <p>Bringing essential cooking gas right to your home. We ensure a seamless delivery experience, so you can have your gas when you need it. Choose easyPadi for hassle-free service.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="menu">
                    <h4>Menu</h4>
                    <ul class="footer-menu">
                        <li><a href="{% url 'app:home' %}">home<i class="fa-solid fa-arrow-right"></i></a></li>
                        <li><a href="{% url 'app:about' %}">about us<i class="fa-solid fa-arrow-right"></i></a></li>
                        <li><a href="{% url 'app:contact' %}">Contacts<i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="menu contacts">
                    <h4>Contacts</h4>
                    <div class="footer-location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Nigeria</p>
                    </div>
                    <a href="mailto:support@easypadi.com"><i class="fa-solid fa-envelope"></i>support@easypadi.com</a>
                    <a href="callto:+2347044627382"><i class="fa-solid fa-phone"></i>+234 704 462 7382</a>
                </div>
                <ul class="social-media">
                    <li><a target="_blank" href="https://www.tiktok.com/@easypadiofficial?_t=8go2AWsl4dS&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com/easypadiofficial?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/EasyPadi"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-two gap no-bottom">
            <p>Copyright © 2023. Hublud Technology. All rights reserved.</p>
            <div class="privacy">
                <a href="{% url 'app:policy' %}">Privacy Policy</a>
                <a href="{% url 'app:policy' %}">Terms & Services</a>
            </div>
        </div>
    </div>
</footer>