{% extends 'base.html' %}
{% load static %}
{% block title %} Instant Cooking Gas{% endblock title %}
{% block head %}{% include 'partials/head.html' %}{% endblock head %}

{% block body %}
<body class="menu-layer">
	<!-- loader start-->
	<div class="page-loader">
		<div class="wrapper">
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <span>Loading</span>
	    </div>
	</div>
	<!-- loader end-->

	<!-- header -->
	{% include 'partials/header.html' %}

  <section class="error-section">
   	<div class="container">
   		<div class="error-page">
			<img alt="girl" src="{% static 'assets/img/404.png' %}" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
			<h2>404</h2>
			<h4 data-aos="flip-up"  data-aos-delay="400" data-aos-duration="500">Sorry, we were unable to find that page</h4>
			<p data-aos="flip-up"  data-aos-delay="600" data-aos-duration="700">At easyPadi, we're committed to providing you with a smooth and hassle-free experience. Unfortunately, the page you've requested is currently unavailable. If you have any questions or need assistance, please don't hesitate to reach out to our team. Your satisfaction is our top priority.</p>
			<a href="{% url 'app:home' %}"><i class="fa-solid fa-house"></i></a>
   		</div>
   	</div>
  </section>

<!-- footer -->
	{% block footer %}{% include 'partials/footer.html' %}{% endblock footer %}

	<!-- bslthemes.com buttons html begin -->
	<div class="bsl-popup" data-theme="quickeat" data-category="html">
		<div class="bsl-popup__buttons"></div>
		<div class="bsl-popup__content bsl-popup__content-related">
		<div class="bsl-popup__menu"></div>
		<div class="bsl-popup__tabs">
			<div class="bsl-popup__tab bsl-popup__tab-demo"></div>
			<div class="bsl-popup__tab bsl-popup__tab-all"></div>
			<div class="bsl-popup__tab bsl-popup__tab-related"></div>
			<div class="bsl-popup__tab bsl-popup__tab-version"></div>
		</div>
		</div>
		<div class="bsl-popup__content bsl-popup__content-help"></div>
	</div>
	<!-- bslthemes.com buttons html end -->
	{% block script %}{% include 'partials/script.html' %}{% endblock script %}


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125314689-11"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125314689-11');
  </script>

</body>
{% endblock body %}

