{% extends 'base.html' %}
{% load static %}
{% block title %} Instant Cooking Gas{% endblock title %}
{% block head %}{% include 'partials/head.html' %}{% endblock head %}

{% block body %}
<body class="menu-layer">
	<!-- loader start-->
	<div class="page-loader">
		<div class="wrapper">
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <span>Loading</span>
	    </div>
	</div>
	<!-- loader end-->

	<!-- header -->
	{% include 'partials/header.html' %}

	<!-- hero-section -->
	<section class="hero-section about gap" style="background-image: url({% static 'assets/img/background-1.png' %});">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="about-text">
						<ul class="crumbs d-flex">
							<li><a href="{% url 'app:home' %}">Home</a></li>
							<li class="two"><a href="{% url 'app:about' %}"><i class="fa-solid fa-right-long"></i> About Us</a></li>
						</ul>
						<h2>Discover easyPadi</h2>
						<p>At easyPadi, we are dedicated to simplifying your cooking gas delivery experience. Our mission is to provide a hassle-free and reliable service that ensures you have the gas you need when you need it. With a focus on efficiency and convenience, we're here to make your life easier. Choose easyPadi for all your cooking gas needs.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="500">
					<div class="about-img">
						<img alt="man" src="{% static 'assets/img/photo-4.png' %}">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- our-mission-section -->
	<section class="our-mission-section gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12 col-sm-12" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="our-mission-img">
						<img alt="Illustration" src="{% static 'assets/img/illustration-5.png' %}">
					</div>
				</div>
				<div class="offset-xl-1 col-lg-5 col-md-12 col-sm-12" data-aos="flip-up"  data-aos-delay="400" data-aos-duration="500">
					<div class="our-mission-text">
						<h2>Our mission is to save you time</h2>
						<p>We aim to streamline the process of obtaining cooking gas, providing you with a convenient and efficient service. Your time is valuable, and our goal is to ensure you can focus on what matters most while we take care of your gas needs. Whether it's for your home or office, we're here to make your life easier.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- cards-section -->
	<section class="cards-section gap no-top">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" data-aos="flip-up"  data-aos-delay="200" data-aos-duration="300">
					<div class="card-text-data two">
						<img class="on" alt="icon" src="{% static 'assets/img/service-icon-2.svg' %}">
						<img class="off" alt="icon" src="{% static 'assets/img/service-icon-1.svg' %}">
						<h3>Fast Delivery</h3>
						<p>At easyPadi, we prioritize fast and dependable delivery. Our service ensures that you receive your cooking gas promptly, without any unnecessary delays. Your convenience is our commitment.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="card-text-data two">
						<img class="on" alt="icon" src="{% static 'assets/img/service-icon-3.svg' %}">
						<img class="off" alt="icon" src="{% static 'assets/img/service-icon-4.svg' %}">
						<h3>Time-Saving</h3>
						<p>Experience the convenience of easyPadi, where we prioritize saving you time. Say goodbye to long waits and hassles. With us, your gas needs are met swiftly and efficiently.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" data-aos="flip-up"  data-aos-delay="400" data-aos-duration="500">
					<div class="card-text-data two">
						<img class="on" alt="icon" src="{% static 'assets/img/service-icon-5.svg' %}">
						<img class="off" alt="icon" src="{% static 'assets/img/service-icon-6.svg' %}">

						<h3>Diverse Option</h3>
						<p>easyPadi offers a diverse selection of gas cylinders to meet your specific needs. Whether you require different sizes or types, we've got you covered. Choose the perfect cylinder for your home.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- about-counters-section -->
	<section class="about-counters-section gap" style="background-image: url({% static 'assets/img/background.png' %});">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12 col-sm-12" data-aos="flip-up"  data-aos-delay="200" data-aos-duration="300">
					<div class="about-counters-img">
						<img alt="girl" src="{% static 'assets/img/photo-10.png' %}">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
					<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="counter-hading">
							<h2>Our Services are exceptional.</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="count-time">
								<h2 class="timer count-title count-number" data-to="856" data-speed="2000">856</h2>
									<p>Satisfied<br>
									Customer</p>
						</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
						<div class="count-time">
								<h2 class="timer count-title count-number" data-to="2" data-speed="2000">2</h2>
									<p>Operating<br>
											State</p>
						</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="count-time sp">
								<h2 class="timer count-title count-number" data-to="1" data-speed="2000">1</h2>
								<span>k+</span>
									<p>Gas<br>
											Delivered</p>
						</div>
				</div>
			</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Our partners Section -->
	<section class="our-partners-section gap" style="background:#fcfcfc" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
		<div class="container">
			<div class="hading">
				<h2>Our trusted partners</h2>
			</div>
			<div class="row align-items-center logodata owl-carousel owl-theme">
				<div class="col-xl-12 item">
					<div class="logo-img">
						<img alt="logo-img" src="{% static 'assets/img/logo-2.png' %}" height="70">
						<h5>NNPC</h5>
					</div>
				</div>
				<div class="col-xl-12 item">
					<div class="logo-img">
						<img alt="logo-img" src="{% static 'assets/img/logo-3.png' %}">
						<h5>OANDO</h5>
					</div>
				</div>
				<div class="col-xl-12 item">
					<div class="logo-img">
						<img alt="logo-img" src="{% static 'assets/img/logo-5.jpg' %}">
						<h5>OMAPEET</h5>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- subscribe-section -->
	<section class="subscribe-section about gap" style="background-image: url({% static 'assets/img/background-img.jpg' %});" >
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="get-the-menu">
						<h2 data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">Subscribe to our newsletter</h2>
						<form data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
							<i class="fa-regular fa-bell"></i>
							<input type="text" name="email" placeholder="Enter email address">
							<button class="button button-2">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer -->
	{% block footer %}{% include 'partials/footer.html' %}{% endblock footer %}

	<!-- bslthemes.com buttons html begin -->
	<div class="bsl-popup" data-theme="quickeat" data-category="html">
		<div class="bsl-popup__buttons"></div>
		<div class="bsl-popup__content bsl-popup__content-related">
		<div class="bsl-popup__menu"></div>
		<div class="bsl-popup__tabs">
			<div class="bsl-popup__tab bsl-popup__tab-demo"></div>
			<div class="bsl-popup__tab bsl-popup__tab-all"></div>
			<div class="bsl-popup__tab bsl-popup__tab-related"></div>
			<div class="bsl-popup__tab bsl-popup__tab-version"></div>
		</div>
		</div>
		<div class="bsl-popup__content bsl-popup__content-help"></div>
	</div>
	<!-- bslthemes.com buttons html end -->
	{% block script %}{% include 'partials/script.html' %}{% endblock script %}

</body>
{% endblock body %}
