{% extends 'base.html' %}
{% load static %}
{% block title %} Instant Cooking Gas{% endblock title %}
{% block head %}{% include 'partials/head.html' %}{% endblock head %}

{% block body %}
<body class="menu-layer">
	<!-- loader start-->
	<div class="page-loader">
		<div class="wrapper">
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="circle"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <div class="shadow"></div>
	        <span>Loading</span>
	    </div>
	</div>
	<!-- loader end-->

	<!-- header -->
	{% include 'partials/header.html' %}

  <!-- hero-section -->
	<section class="hero-section about gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
					<div class="about-text">
						<ul class="crumbs d-flex">
							<li><a href="{% url 'app:policy' %}">Home</a></li>
							<li class="two"><a href="{% url 'app:policy' %}"><i class="fa-solid fa-right-long"></i>Policy, Terms & Services</a></li>
						</ul>
						<h2>Policy, Terms & Services</h2>
						<p class="text-justify" style="text-align: justify;">At easyPadi, we value your trust and satisfaction. Our policies, terms, and services are designed to provide you with a clear understanding of our commitment to delivering a reliable and convenient gas delivery experience. Explore our guidelines to learn more about how we serve you and what you can expect from us. Your convenience is our priority.</p>
						<p>This Privacy Policy governs the collection, use and disclosure of personal information by Hublud Technology its Gas Delivery App Easy Padi.</p>
					</div>
				</div>
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400"
					>
				<div class="join-img-blog">
					<i class="fa-solid fa-file fa-4x"></i>
				</div>
			</div>
		</div>
	</section>
  <!-- tabs questions -->
<section class="tabs gap no-bottom">
	<div class="container">

      <div class="tabs-img-back">

      <div class="row">

           <div class="col-lg-12">

               <div class="Provides">
               <div class="nav nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                 <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Policy</button>
                 <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button"              role="tab" aria-controls="v-pills-profile" aria-selected="false">Terms & Services</button>

               </div>

              </div>

             </div>

           <div class="col-lg-12 gap">

            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                 	<div class="card">
						<div class="card-body">
							<h6>1. Information Collection</h6>
							<p>When Users create an account on the App, Company collects personal information including name, contact information, billing information. Company may also collect location information when Users allow the App to access device's location.</p>
							<br>
							<br>
							<h6>2. Information Use</h6>
							<p>Company uses personal information collected through the App to provide gas delivery services and to communicate with Users about their account and transactions. Company may also use personal information to improve the App and to comply with legal requirements.</p>
							<br>
							<br>
							<h6>3. Information Disclosure</h6>
							<p>Company may disclose personal information to third-party service providers who assist with gas delivery and payment processing. Company may also disclose personal information as required by law, such as in response to a court order subpoena.</p>
							<br>
							<br>
							<h6>4. Data Security</h6>
							<p>Company takes reasonable measures to protect personal information from
							unauthorized access and disclosure. However, Company cannot guarantee the security of information transmitted through the App.</p>
							<br><br>
							<h6>5. Children's Privacy</h6>
							<p>The App is not intended for use by children the age of 18. Company does not knowingly collect personal information from children Wider the age of 18.</p>
							<br><br>
							<h6>6. Third-Party Links</h6>
							<p>The App may contain links to third-party websites or services. Company is not responsible for the privacy practices or content of these third-party sites.</p>
							<br><br>
							<h6>7. Changes to Policy</h6>
							<p>Company may modify this Policy at any time, without notice to Users. Users' continued use of the App following any such modification constitutes their acceptance of the modified Policy.</p>
							<br><br>
							<h6>8. Contact Information</h6>
							<p>If Users have my questions or concerns about this Policy or the App, they may contact us at "support@easypadi.com".</p>
						</div>
                 	</div>
                 </div>

                 <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
					<div class="card">
						<div class="card-body">
							<h6>SECTION ONE</h6>
							<p>These Terms and Conditions ("Agreement") govern use of the Easy Pad, which is provided by Hublud Technology Ltd. By using the App, you ("User") to be bound by this Agreement. If you do not
							to the terms of this Agreement, you may not use the App.</p>
							<br> <br>
							<h6>1. Use of the App</h6>
							<p>The App is provided solely for the purpose of ordering gas delivery services from Hublud Technology. Users are not permitted to use the App for any other.</p>
							<br><br>
							<h6>2. User Accounts</h6>
							<p>To use the App, Users must create an account by providing their name, contact information, and billing information. Users are responsible for maintaining the confidentiality of their account information, for activity that occurs on their account.</p>
							<br><br>
							<h6>3. Payment</h6>
							<p>Users will be charged for gas delivery services through the App. Users agree to pay all charges incurred in connection with their use of the App, including any applicable taxes.</p>
							<br><br>
							<h6>4. Delivery</h6>
							<p>Hublud Technology will use its best efforts to deliver gas to Users in a timely manner. However, Hublud Technology does not guarantee delivery times and is not liable for any damages or losses resulting from delayed delivery.</p>
							<br><br>
							<h6>5. User Representations and Warranties</h6>
							<p>Users represent and warrant that they are at least 18 of age and have the legal to enter into this Agreement. Users also represent and that they will use the App in accordance with this Agreement and all applicable laws and regulations.</p>
							<br><br>
							<h6>6. Intellectual Property</h6>
							<p>The App and all content contained therein, including but not limited to text, graphics, images, logos, and software, are the property of Hublud Technology and are protected by copyright and other intellectual property laws.</p>
							<br><br>
							<h6>7. Disclaimer of Warranties</h6>
							<p>THE APP IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER
								EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>
							<br><br>
							<h6>8. Limitation of Liability </h6>
							<p>IN NO EVENT SHALL HUBLUD TECHNOLOGY BE LIABLE FOR ANY INDIRECT,
								INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES ARISING OUT
								OF OR IN CONNECTION WITH THE USE OF THE APP.</p>
							<br><br>
							<h6>9. Indemnification</h6>
							<p>Users agree to indemnify and hold Hublud Technology harmless from any and all claims, damages, and expenses (including attorneys' fees) arising out of or in connection with transaction done outside the App.</p>
							<br><br>
							<h6>10. Termination</h6>
							<p>In cases of suspected activity using our app, Hublud Technology may terminate this Agreement and Users' access to the App at any time, with or without cause. Upon termination, Users' account will be deactivated and all information associated with the account will be deleted.</p>
							<br><br>
							<h6>11. Governing Law</h6>
							<p>This Agreement shall be governed by and construed in accordance with the laws of Nigeria, without regard to its conflict of laws provisions.</p>
							<br><br>
							<h6>12. Modification</h6>
							<p>Hublud Technology reserves the right to modify this Agreement at any time, without notice to Users. Users' continued use of the App, following any such modification constitutes their acceptance of the modified Agreement.</p>
							<br><br>
							<h6>12. Entire Agreement</h6>
							<p>This Agreement constitutes the entire agreement between Hublud Technology Users with respect to the use of the App, and supersedes all prior or contemporaneous communications proposals, whether or written, between Hublud Technology and Users.</p>
							<br> <br>
							<br> <br>
							<h6>SECTION TWO</h6>
							<h6>1. Acceptance of Terms</h6>
							<p>By accessing or using the App, you agree to be bound by these Terms and Conditions. If you do not agree with any part of this Agreement, you must not use the App.</p>
							<br><br>
							<h6>2. Service Description</h6>
							<p>App provides a platform for users to book gas cylinder refills, select time slots for pickup and delivery, and facilitate the exchange of empty cylinders with filled ones.</p>
							<br><br>
							<h6>3. User Responsibilities</h6>
							<p>You are responsible for providing accurate and up-to-date information during the booking process, including your contact and delivery address. You must ensure that you have the permissions to request gas cylinder refills and comply with safety regulations.</p>
							<br><br>
							<h6>4. Booking and Delivery</h6>
							<ol type="a">
								<li>a. Availability: Gas cylinder Is are subject to availability. We will make reasonable efforts to fulfill your booking within the specified time frame.</li>
								<li>b. Time Slots: Users can select preferred time slots for cylinder pickup and delivery. While we strive to adhere to the selected time, unforeseen circumstances may lead to minor delays.</li>
								<li>c. Inspection: It is your responsibility to inspect the refined gas cylinder upon delivery. If any issues or discrepancies are identified, please contact our customer support within a reasonable time.</li>
							</ol>
							<br><br>
							<h6>5. Pricing and Payments</h6>
							<ol type="a">
								<li>a. Pricing: Gas cylinder refills are priced based on the prevailing rates and may be subject to additional charges for delivery and other services. Prices are displayed clearly within the App.</li>
								<li>b. Payments: All payments for the services provided through the App must be made in the designated currency and through the approved payment</li>
							</ol>
							<br><br>
							<h6>6. Limitation of Liability</h6>
							<ol type="a">
								<li>a. App acts as a platform to connect users with gæ delivery services. We are not liable for any damages, losses, or injuries arising from the use of our App or any direct or indirect issues related to the gas cylinder delivery services.</li>
								<li>b. While we strive to maintain the accuracy and reliability of the App, we cannot guarantee uninterrupted access or freedom from errors.</li>
							</ol>
							<br><br>
							<h6>7. Modification to the App and Agreement</h6>
							<p>We reserve the right to modify or discontinue the App, with or without notice. We may also revise these Terms and Conditions at any time. It is your responsibility to review this Agreement periodically for changes.</p>
							<br><br>
							<h6>8. Governing Law</h6>
							<p>This Agreement shall be governed and construed in accordance with the laws of [Jurisdiction]. Any disputes arising from the use of the App related services shall be subject to the exclusive jurisdiction of the courts in [Jurisdiction].</p>
							<br><br>
							<p>By using Easy Padi, you acknowledge that you have read, understood, and agree to abide by these Terms and Conditions. If you do not agree to these terms, please	refrain from using the App..</p>
						</div>
                 	</div>
                 </div>

              </div>

        	</div>

      	</div>

     	</div>
     </div>
  </section>


<!-- footer -->
	{% block footer %}{% include 'partials/footer.html' %}{% endblock footer %}

	<!-- bslthemes.com buttons html begin -->
	<div class="bsl-popup" data-theme="quickeat" data-category="html">
		<div class="bsl-popup__buttons"></div>
		<div class="bsl-popup__content bsl-popup__content-related">
		<div class="bsl-popup__menu"></div>
		<div class="bsl-popup__tabs">
			<div class="bsl-popup__tab bsl-popup__tab-demo"></div>
			<div class="bsl-popup__tab bsl-popup__tab-all"></div>
			<div class="bsl-popup__tab bsl-popup__tab-related"></div>
			<div class="bsl-popup__tab bsl-popup__tab-version"></div>
		</div>
		</div>
		<div class="bsl-popup__content bsl-popup__content-help"></div>
	</div>
	<!-- bslthemes.com buttons html end -->
	{% block script %}{% include 'partials/script.html' %}{% endblock script %}

</body>
{% endblock body %}
